<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.url }}">Blog</a>


      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | append:'.html' }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item" href="{{ site.github }}" rel="nofollow">
        <div>
          <img src="/assets/logos/social/github.png" width="30"  height="30" alt="my profile am on GitHub"/>
          <span>GitHub</span>
        </div>
      </a>
      <a class="sidebar-nav-item" href="{{ site.linkedin }}" rel="nofollow">
        <div>
          <img src="/assets/logos/social/linkedin.png" width="30"  height="30" alt="my profile am on LinkedIn"/>
          <span>LinkedIn</span>
        </div>
      </a>
      <a class="sidebar-nav-item" href="{{ site.stackoverflow }}" rel="nofollow">
        <div>
          <img src="/assets/logos/social/stackoverflow.png" width="30"  height="30" alt="russian stackoverflow"/>
          <span>Stackoverflow [ru]</span>
        </div>
      </a>
      <a class="sidebar-nav-item" href="{{ site.certificates }}" rel="nofollow">
          Certificates
      </a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
